/***************catList1***********/
.catList{margin:0 auto;}
.catList1{float:left;width:1200px;height:300px;margin-left:79px;}
.catList1 li{float:left;margin-right:18px;}
.chaoliu{margin-left:70px;}
.w1200{width:1200px;margin:0 auto;}
.w1200 ul li a{position:relative;text-decoration:none;height:310px;}


.chaoliu_tit .zhekou{
    font-size: 18px;
    margin-top: 50px;
    font-weight: bold;
    width: 450px;line-height: 20px;
	    color: rgb(232, 26, 98);}
.chaoliu_tit1{    color: #535353;
    font-size: 18px;
    margin-top: 10px;
    font-weight: bold;
}
.maidian{color: #7d7779;
    font-size: 15px;
    margin-top: 10px;
}
.maidian>span{font-weight:bold;color: #535353;}
.price .zhekoujia{font-size: 40px;    color: #e81a62;
    margin-right: 10px;}
	

.price .yuanjia{text-decoration:line-through;font-size: 16px;
    color: #aaaaaa;}
p.more_shop{margin-top:20px;font-size:14px;
    }
	p.more_shop a{    color: #5674c1;}
 .ul_chaoliu li{position:relative;}
.ul_chaoliu a{position:relative;height:310px;}
.chaoliu_tit{position:absolute;top:0;left:700;width: 450px;float:right;}
.ul_last{margin-bottom:50px;}
